body {
    background-color: #ddd;
    background-image: url(photo-1499571466915-ffc02b27d65e.avif);
    background-size: cover;
    height: 100vh;
}

.continer {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.continer h4 {
    text-align: center;
    font-weight: bold;
    margin: 10px 10px;
    text-align: center;
}

.continer input {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ddd;
}

.continer span {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    ;
    cursor: pointer;
}